In [27]:
import numpy as np
import pandas as pd

d = {'one' : pd.Series([1., 2., 3.], index=['a', 'b', 'c']),
       'two' : pd.Series([1., 2., 3., 4.], index=['a', 'b', 'c', 'd'])}
df = pd.DataFrame(d)
df.set_index('two', inplace=True)

In [28]:
df

     one
two
1.0  1.0
2.0  2.0
3.0  3.0
4.0  NaN

In [34]:
#df.set_index('two', inplace=True)
for k in df.index.values:
    df.loc[k].fillna(method='pad', inplace=True)

In [32]:
df

     one
two
1.0  1.0
2.0  2.0
3.0  3.0
4.0  NaN

In [12]:
for _,g in df.groupby('two'):
    print(g)
    g.fillna(12, inplace=True)
    print(g)
    
    
df

   one  two
a  1.0  1.0
   one  two
a  1.0  1.0
   one  two
b  2.0  2.0
   one  two
b  2.0  2.0
   one  two
c  3.0  3.0

/usr/local/lib/python3.5/dist-packages/pandas/core/frame.py:2762: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  downcast=downcast, **kwargs)

   one  two
c  3.0  3.0
   one  two
d  NaN  4.0
    one  two
d  12.0  4.0

   one  two
a  1.0  1.0
b  2.0  2.0
c  3.0  3.0
d  NaN  4.0